*{
    margin:0 auto;
    padding:0 auto;
}
.mainchar {
    position:absolute;
    border-radius: 1.0vw;
    overflow:hidden;
}
.main1 {
    top:2vw;
    left:14vw;
    width:12vw;
    height:21vw;
}
.main2 {
    top:1.5vw;
    left:21vw;
    width:13vw;
    height:22vw;
}
.main3 {
    top:1vw;
    left:28vw;
    width:14vw;
    height:23vw;
}
.main4 {
    top:0.5vw;
    left:35vw;
    width:15vw;
    height:24vw;
}
.main5 {
    top:0vw;
    left:42vw;
    width:16vw;
    height:25vw;
}
.main6 {
    top:0.5vw;
    left:50vw;
    width:15vw;
    height:24vw;
}
.main7 {
    top:1vw;
    left:58vw;
    width:14vw;
    height:23vw;
}
.main8 {
    top:1.5vw;
    left:66vw;
    width:13vw;
    height:22vw;
}
.main9 {
    top:2vw;
    left:74vw;
    width:12vw;
    height:21vw;
}
.image {
    width:100%;
    height:100%;
    object-fit:cover;
}
.code .keyword {
            color: #569cd6;
        }

        .code .type {
            color: #4ec9b0;
        }

        .code .string {
            color: #ce9178;
        }

        .code .comment {
            color: #6a9955;
        }

        .code .number {
            color: #b5cea8;
        }

        .code .html-tag,
        .code .double-quoted-string,
        .code .single-quoted-string,
        .code .angle-brackets {
            color: #d7ba7d; /* Orange color */
        }

        .code .preprocessor {
            color: #c586c0; /* Purple color */
        }
        .code .function-name {
            color: #dcdcaa; /* Yellow color */
        }
